.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 100px 0 80px 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 80px 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.recipes__videos {
  gap: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 215px;
}

.recipes__video {
  flex-direction: column;
  margin-bottom: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border-style: none;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 24px 0 0;
  display: flex;
  align-items: center;
}

.recipes__video-caption span {
  font-weight: normal;
  color: #838383;
  font-size: 16px;
  line-height: 20px;
  margin-left: 160px;
}
